*{
	box-sizing: box-border;
	position: relative;
}
.nav_bar{	
	border-style: solid;	
	border-radius: 10px;
	border-width: .6em;
	border-color: white;
}
#student,#branch{
	margin-left: 60px;
	font-size: large;
	font-style: italic;
	margin-top: 10px;
	color: ghostwhite;
}
.Name{
	padding-left: 60px;
	font-size: xx-large;
	font-style: italic;
	font-weight: bolder;
	color: ghostwhite;
}
.details{
	margin-top: 10px;
	color: ghostwhite;
}
.details_sub{
	margin-left: 60px;
	display: inline;
	color: ghostwhite;
}

.details img{
	width: 15px;
	height: 15px;
	background-color: currentColor;
}
body{
	background-image: url("bg.jpg");
	background-attachment: fixed;
}
.subnav{
	width: auto;
	height: 50px;
	text-align: center;
	border: 5;
}
.links{
	padding-right: 50px;
	text-decoration: none;
	padding-left: 50px;
	font-family: fantasy;
}
#myphoto{
	float: right;
	margin-right: 80px;
	width: 35%;
	border-radius: 300px;
	margin-top: 80px;
	border: ridge;
}
#mainbody{
	font-family:"Brush Script MT",cursive ;
	font-size: 40px;
	font-weight: bolder;
	color: ghostwhite;
	position: relative;
	margin-top: 100px;
	word-spacing: 13px;
}

.odd{
	margin-left: 200px;
}
.container{
	margin-left: 20%;
	margin-right: 10%;
}
.up-left,.up-right,.down-left,.down-right{
	width: 75%;
	height: 200px;
	border-radius: 50px;
	border-style: solid;
	border-color: navajowhite;
	overflow: auto;
}
.up-left{
	margin-left: 100px;	
}
.up-right{
	margin-right: 100px;
}
.down-left{
	margin-left: 100px;
}
.down-right{
	margin-right: 100px;
}
#text-about{
	font-family:sans-serif;
	font-size: 1.5em;
	color: papayawhip;
	position: relative;
	word-spacing: 13px;
	text-align: center;
	overflow: auto;
	font-family:"Brush Script MT",cursive ;
}
